* {
  box-sizing: border-box;
}
header{
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

div {
margin-top:10px;
margin-left: 50px;
border-collapse: 50px;

}
.menu {
  float:left;
  width:20%;
  text-align:center;
}
.menu a {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:6px;
  display:block;
  width:100%;
  color:black;
}
.main {
  float:left;
  width:60%;
  padding:0 20px;
}
footer {
  background-color: #777;
  margin-top: 70px;
  padding: 7px;
 
  color: white;
}
#status{
color: red;

}
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main {
    width:100%;
  }